;; Copyright (c) 2020-2021 Jakob Meng, <jakobmeng@web.de>
;;
;; Ansible Configuration Settings
;;
;; Ref.: https://docs.ansible.com/ansible/latest/reference_appendices/config.html

[defaults]

;; Example for storing collections in local project directory.
;; NOTE: The project directory is mounted read-only in containers, so ansible-galaxy
;;       will fail when installing collections to the project directory.
;;
;; Search pattern for collections is [COLLECTIONS_PATH]/ansible_collections/[NAMESPACE]/[COLLECTION_NAME]
;; Ref.: https://docs.ansible.com/ansible/latest/reference_appendices/config.html#collections-paths
;collections_paths = ./.cache/ansible/collections/:./collections:~/.ansible/collections:/usr/local/share/ansible/collections:/usr/share/ansible/collections

;enable_task_debugger = True

inventory = ./inventory/hosts.yml

nocows = 1

retry_files_enabled = False

;; Example for storing roles in local project directory
;; NOTE: The project directory is mounted read-only in containers, so ansible-galaxy
;;       will fail when installing roles to the project directory.
;;
;; Search pattern for roles is [ROLES_PATH]/roles/[NAMESPACE].[ROLE_NAME]
;; Ref.: https://docs.ansible.com/ansible/latest/reference_appendices/config.html#default-roles-path
;roles_path = ./.cache/ansible/roles/:~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles

;; Establishing SSH connections to CentOS 9 (Stream) can exceed Ansible's default timeout of 10 seconds
timeout = 30

;; Password file to unlock vaults
;; Ref.: https://docs.ansible.com/ansible/latest/reference_appendices/config.html#default-vault-password-file
;vault_password_file = ./.vault_pass.txt

[ssh_connection]
; Ref.: https://docs.ansible.com/ansible/latest/collections/ansible/builtin/ssh_connection.html

; "Pipelining, if supported by the connection plugin, reduces the number of network operations required to execute a
;  module on the remote server, by executing many Ansible modules without actual file transfer. This can result in a
;  very significant performance improvement when enabled. However this conflicts with privilege escalation (become).
;  For example, when using ‘sudo:’ operations you must first disable ‘requiretty’ in /etc/sudoers on all managed hosts,
;  which is why it is disabled by default. This option is disabled if ANSIBLE_KEEP_REMOTE_FILES is enabled. This is a
;  global option, each connection plugin can override either by having more specific options or not supporting
;  pipelining at all."
; Ref.: https://docs.ansible.com/ansible/latest/reference_appendices/config.html
pipelining = True

ssh_args = -C -o ControlMaster=auto -o ControlPersist=30m -o StrictHostKeyChecking=accept-new
; Example for storing user host key database in local project directory instead of ~/.ssh/known_hosts
;ssh_args = ... -o 'UserKnownHostsFile=.ssh_known_hosts'
