---
# Copyright (c) 2020-2021 Jakob Meng, <jakobmeng@web.de>
# vim:set fileformat=unix tabstop=2 shiftwidth=2 expandtab:
# kate: end-of-line unix; space-indent on; indent-width 2; remove-trailing-spaces modified;

ansible_connection: local

# For local connections use Python interpreter that is being used by Ansible on the controller.
#
# Rationale:
# For local connections Ansible will not necessarily use the same Python interpreter that is being used by Ansible
# on the controller. If Ansible on the controller is run from a virtual environment aka virtualenv, then Ansible
# will use interpreter discovery to choose a Python interpreter for local connections anyway. To reuse the Python
# interpreter from the controller, ansible_python_interpreter has to be set to ansible_playbook_python explicitly.
#
# Ref.:
#  https://github.com/ansible/ansible/issues/16724
#  https://willthames.github.io/2018/07/01/connection-local-vs-delegate_to-localhost.html
#  https://docs.ansible.com/ansible/latest/user_guide/playbooks_delegation.html
#  https://docs.ansible.com/ansible/latest/reference_appendices/interpreter_discovery.html
ansible_python_interpreter: "{{ ansible_playbook_python }}"

libvirt_host_become: false

# NOTE: All libvirt networks listed below are expected to created and managed by the system libvirt daemon. The networks
#       below are merely created to make the system-wide networks known to the user-session libvirt daemon. The real
#       networks are not necessarily forwarding bridges, e.g. isolated-* networks are isolated networks. But to prevent
#       the user-session libvirt daemon from trying to create those preexisting isolated networks (and failing to do so
#       due to insufficient permissions) we lie to the user-session libvirt daemon and pretend that all networks are
#       bridges. See e.g. host lvrt-lcl-system on how to set up the system-wide libvirt networks.
libvirt_networks:
- # network without host ip, without dhcp and without forwarding
  autostart: true
  bridge:
    name: 'virbr-local-0'
  ignore:
  - '/network/uuid'
  name: 'isolated-0-no-ip'
  restart_on_change: true
  state: active
  xml_var: 'libvirt_network_template_bridge'

- # network with host ip, with dhcp, without forwarding and without masquerading
  autostart: true
  bridge:
    name: 'virbr-local-1'
  ignore:
  - '/network/uuid'
  name: 'isolated-1-dhcp'
  restart_on_change: true
  state: active
  xml_var: 'libvirt_network_template_bridge'

- # network with host ip, without dhcp, without forwarding and without masquerading
  autostart: true
  bridge:
    name: 'virbr-local-2'
  ignore:
  - '/network/uuid'
  name: 'isolated-2-no-dhcp'
  restart_on_change: true
  state: active
  xml_var: 'libvirt_network_template_bridge'

- # network with host ip, without dhcp, without forwarding and without masquerading
  autostart: true
  bridge:
    name: 'virbr-local-3'
  ignore:
  - '/network/uuid'
  name: 'isolated-3-no-dhcp'
  restart_on_change: true
  state: active
  xml_var: 'libvirt_network_template_bridge'

- # network with host ip, with dhcp, with forwarding and with masquerading
  autostart: true
  bridge:
    name: 'virbr-local-4'
  ignore:
  - '/network/uuid'
  name: 'nat-0-dhcp'
  restart_on_change: true
  state: active
  xml_var: 'libvirt_network_template_bridge'

- # network with host ip, without dhcp, with forwarding and with masquerading
  autostart: true
  bridge:
    name: 'virbr-local-5'
  ignore:
  - '/network/uuid'
  name: 'nat-1-no-dhcp'
  restart_on_change: true
  state: active
  xml_var: 'libvirt_network_template_bridge'

- # network with host ip, with dhcp, with forwarding and without masquerading
  autostart: true
  bridge:
    name: 'virbr-local-6'
  ignore:
  - '/network/uuid'
  name: 'route-0-dhcp'
  restart_on_change: true
  state: active
  xml_var: 'libvirt_network_template_bridge'

- # network with host ip, without dhcp, with forwarding and without masquerading
  autostart: true
  bridge:
    name: 'virbr-local-7'
  ignore:
  - '/network/uuid'
  name: 'route-1-no-dhcp'
  restart_on_change: true
  state: active
  xml_var: 'libvirt_network_template_bridge'

libvirt_pools:
- autostart: true
  hardware:
  - type: dir
  - target: '{{ ansible_env.HOME }}/.local/share/libvirt/images'
  name: 'default'
  target:
    pool: '{{ ansible_env.HOME }}/.local/share/libvirt/images'

libvirt_uri: 'qemu:///session'
