{{ hostvars[item]['kickstart_config'] if 'kickstart_config' in hostvars[item] else
   lookup('file',
    'ks.cfg-'
    + hostvars[item]['os_distribution_id']|join('-')|lower|regex_replace('[^a-z0-9-]', '-')
    + '-'
    + hostvars[item]['os_architecture']|lower|regex_replace('[^a-z0-9-]', '-')
   )
}}
